<!--<footer class="bg-warning">-->
<footer style="background-color: #3cb371;">
    <div id="footer-logo">  
        <img src="/media/pages/logo_pc.png" style="width:90px;"/>
    </div>
    <div class="footer-content">
        <div>
            <a href="#">
                プライバシーポリシー
           </a>
        </div>
        <div>|</div>
        <div>
            <a href="#">
                利用規約
            </a>        
        </div>
        <div>|</div>
        <div>
            <a href="#">
                サイトマップ
            </a>        
        </div>
    </div>
</footer>